<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create project</title>
</head>
<body>

<form action="/projects" method="post">
    <table>
        <thead>
        <tr>
            <th>프로젝트 이름</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" name="projectName" placeholder="프로젝트 이름을 입력하세요" required />
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">프로젝트 만들기 </button>
</form>



</body>
</html>