<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Comment</title>
</head>
<body>
<h1>Edit Comment</h1>

<form th:action="@{/tasks/{taskId}/comments/{commentId}(taskId=${comment.task.taskId}, commentId=${comment.commentId})}" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="content">Edit Comment:</label>
  <input type="text" name="content" id="content" th:value="${comment.content}" required>
  <button type="submit">Update</button>
</form>

</body>
</html>
